{{yield}}

<div>
Center X: {{input centerX value=centerX}} <br/>
Center Y: {{input centerY value=centerY}} <br/>
Increment: {{input increment value=increment}} <br/>
Max Iterations: {{input maxIterations value=maxIterations}} <br/>
Escape Point: {{input escapePoint value=escapePoint}} <br/>
<button {{action "calculate"}}>Calculate</button>
</div>
